:root {
    --bg-color: #1E1E2E;
    --bg-secondary-color: #333344;
    --nav-color: #252538;
    --text-color: #fff;
    --text-secondary-color: #9CA3AF;

    --padding-side: 1rem;
    --margin-bottom: 4.1875rem;

    --blue-color: #7B68EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


main {

    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--bg-secondary-color) transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

.desktop-only, .nameproject.desktop-only {
    display: none;
}

.mobile-only {
    display: revert;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--nav-color);
    padding: 1.375rem var(--padding-side);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__logoicon {
    display: flex;
    align-items: center;
    gap: .375rem;
    /* flex: 1; */
}

.header__logoicon__image {
    width: 1.25rem;
}

.header__logoicon__title {
    font-weight: 600;
    font-size: 1rem;
}

.header__searchbar {
    display: flex;
    width: 2rem;
    flex: 1;
    justify-content: end;
}

.header__searchbar__container {
    position: relative;
}

.header__searchbar__image {
    position: absolute;
    right: .5rem;
    top: .5rem;
    width: 1rem;
    pointer-events: none;
}

.header__searchbar__input {
    background-color: var(--bg-secondary-color);
    border: none;
    color: var(--text-color);
    padding: .5rem 1.5rem .5rem .5rem;
    border-radius: .5rem;
    max-width: 2rem;
    transition: all 1s;
}

.header__searchbar__input:focus {
    /* background-color: red; */
    max-width: 30rem;
}

.header__searchbar__input:focus ~ .header__searchbar__image {
    pointer-events: all;
}

.header__usericon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: .75rem;
}

.header__usericon__profile {
    width: 100%;
    height: 100%;
}

/* main */
main {
    font-family: "Inter", sans-serif;
    font-size: .875rem;
    font-weight: 500;
}

.controls {
    padding: var(--padding-side) var(--padding-side) 0;
    gap: .5rem;
}

.nameproject {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: var(--padding-side);
    cursor: pointer;
    
}

.nameproject__title {
    font-size: 1.125rem;
    font-weight: 600;
}

.nav-button, .nav-button--add {
    background-color: var(--bg-secondary-color);
    border: none;
    color: var(--text-secondary-color);
    padding: .71875rem .4rem;
    border-radius: .5rem .5rem 0 0;
    text-align: center;
    font-size: .875rem;
    font-weight: 500;
    cursor: pointer;
}

.nav-button {
    flex: 1;
    min-width: fit-content;
}

.nav-button p, .nav-button .counter {
    pointer-events: none;
}

.nav-button.active {
    background-color: var(--blue-color);
    color: var(--text-color);
}

.nav-button--add {
    padding: .75rem;
}

.controls__column {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.controls__column p {
    display: inline;
}

.controls__column .counter {
    background-color: var(--nav-color);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    display: inline-block;
    align-items: center;

}

.column {
    padding: .5rem var(--padding-side) 0;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: calc(var(--margin-bottom) + .75rem);
}

.column__card, .column__card-add {
    cursor: pointer;
    font-size: .875rem;
    border-radius: .5rem;
    padding: var(--padding-side);
    display: flex;
}

.column__card-add {
    background-color: var(--bg-secondary-color);
    gap: .5rem;
}

.column__card {
    background-color: var(--bg-secondary-color);
    flex-direction: column;
}

.column__card__tags {
    display: flex;
    gap: .5rem;
    padding: .25rem 0;
    border-radius: .5rem;
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 500;
}

.column__card__tags__text {
    padding: .25rem .5rem;
    background-color: var(--blue-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    
}

.column__card__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: 400;
    color: var(--text-secondary-color);
    margin-top: .75rem;
}

.column__card__information__date {
    display: flex;
    /* align-items: center; */
    gap: .25rem;
}

.column__card__information__profile {
    display: flex;
    align-items: center;
    gap: .25rem;
    width: 1.75rem;

    img {
        width: 100%;
    }
}

/* footer  */

.footer {
    display: flex;
    width: 100%;
    color: var(--text-secondary-color);
    background-color: var(--bg-secondary-color);
    font-family: "Inter", sans-serif;
    font-size: .75rem;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer__nav {
    display: flex;
    width: 100%;
    padding: 0 var(--padding-side);

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
}

.footer__nav__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    transition: all .2s ease-in-out;

    svg {
            width: 1.25rem;
        }
}

.footer__nav__item a:hover {
    background-color: var(--blue-color);
}

.footer__nav__item.active a {
    color: var(--blue-color);
}



.modais {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: var(--bg-color);
    padding: .5rem;
    border-radius: .5rem;
    color: var(--text-color);
    z-index: 1;
}

.modais__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: var(--padding-side);
}

.modais__close {
    cursor: pointer;

    svg {
        width: 1.5rem;
    }
}

.modais__text {
    font-size: .875rem;
    font-weight: 500;
}

.modais__input input, .modais__input select {
    background-color: var(--bg-secondary-color);
    border: none;
    color: var(--text-color);
    padding: .5rem 1.5rem .5rem .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    width: 100%;
}

.modais__button {
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding: .5rem 0;
    display: flex;
    gap: .5rem;
    align-items: center;

    button {
        cursor: pointer;
        border: none;
        padding: .4rem .8rem;
        border-radius: .5rem;
        background-color: var(--blue-color);
        color: var(--text-color);
        font-size: .875rem;
        font-weight: 500;
    }
}

.modais__button .modal__editCard__button__delete {
    background-color: red;
    margin-left: auto;
}

.modal-hide {
    display: none;
}

.dragging {
    opacity: .5;
}

/* desktop  */

@media (min-width: 48rem) {
    .desktop-only {
        display: revert;
    }

    .nameproject.desktop-only {
        display: flex;

    }

    .mobile-only {
        display: none;
    }

    .nameproject {
        margin: 0 0 0 var(--padding-side);
        font-weight: 500;
        font-size: 1rem;
    }

    .main__column {
        display: flex;
        overflow-x: scroll;
    }

    .column {
        min-width: 18.75rem;
        padding: calc(var(--padding-side) / 2);
    }

    .header__column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;

        .counter {
            font-weight: 400;
            font-size: .875rem;
            color: var(--text-secondary-color);
        }
    }
}